/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #EAE4E4 !important;
}
*{
    margin: 0 !important;
    padding: 0 !important;
}
/*Navigation Bar Settings*/
.nav-item{
    padding: 10px !important;
}

.backButton{
    height: 40px !important;
    width: 90px !important;
    background-color: #2A75E5 !important;
}

#navBar.scrolled{
    background-color: black;
}

/* Background Settings */

.backgroundRow{
    background-color: black;
    height: 100vh;

}

.backgroundRow{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    position: absolute;
    text-align: center;
}
.brand{
    font-family: "Monda", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 50px; 
    color:white
}

.brand2{
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px; 
    color:white;

}
.backgroundVideoContainer{
    height: 800px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.videoHighlights{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Fonts */
.fontHead{
    font-family: "Monda", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 40px; 
    
}

.fontBody{
    font-family: "Noto Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px; 

}

/* Media Query */
@media (max-width:1280px){
    .backgroundVideoContainer{
        height: 300px !important;
    }
}

@media (max-width:600px){
    .backgroundVideoContainer{
        height: 300px !important;
    }
}

@media (max-width:375px){
    .brand{
        font-size: 40px;
    }
    .brand2{
        font-size: 30px;
    }
    .backgroundVideoContainer{
        height: 200px !important;
    }

    .fontHead{
        font-size: 20px; 
        
    }
    
    .fontBody{
        font-size: 10px; 
    
    }
}

