@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    overflow-x: hidden;
    overflow-y: auto;

}

.navBarContainer {
    background-color: black;

}

.navBarLogo {
    padding-left: 20px;
}

.nav-link {
    text-align: left;
    color: white;
    font-family: "Crimson Pro", serif;
    font-weight: 700;
    font-size: 25px;
    margin-right: 50px;
}
.nav-item {
    transition: color 0.3s ease; 
}

.nav-item.active, .nav-item:focus {
    color: #ffcc00; 
}
.nav-link:hover{
    color:yellow
}

.backButton{
    height: 40px !important;
    width: 90px !important;
    background-color: #2A75E5 !important;
}

.mainContainer {
    padding: 0;
    margin: 0;
    position: relative;
}

.slideShowContainer {
    padding: 0;
    position: relative;
    max-height: max-content;

}

.slides {
    position: relative;
    z-index: -1;
}

.slide {
    object-fit: cover;
    vertical-align: middle;
    position: relative;
    z-index: -1;

}

.textField {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 1%;
    color: white;
    position: absolute;

}


.textPlace {
    font-family: "Crimson Pro", sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    font-style: italic
}

.textCaption {
    font-family: "Inria Serif", serif;
    font-size: 4vw;
    font-weight: 700;
    font-style: normal;
}

@media (max-width: 768px) {
    .slideShowContainer {
        padding-top: 100px;
    }

    .textField {
        padding-top: 55px;
    }
}

.title {
    height: 90px;

}

.title-text {
    padding: 18px 25px;
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

.titlerow{
    margin-top: 130px;
}

.aboutImg{
    background-image: url(imgs/aboutImg.png);
    background-repeat: no-repeat;
    background-size:cover;
    
}
.genre{
    text-align: center;
    font-size: 40px; 
}
.genreText{
    background-color: #263B54;
}

.aboutText{
    background-color: #366199;
}

.heading{
    font-family: "Inria Serif", serif;
    font-weight: 900;
    font-style: normal;
}

.aboutTextContent{
    color: white;
    font-family: "Crimson Pro", sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.dropdown{
    background-color:#263B54;
    color:white;
    position:inherit;
    border-radius: 25px;
    display: none;
    margin-right: 10px;
    padding: 20px 15px;

}

.characterName{
    font-family: "Inria Serif", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
}

