@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    padding: 0;
    margin: 0;


}
html{
    scroll-behavior: smooth;
}


/*Navigation Bar Settings*/
.nav-item{
    padding: 10px !important;
}
.nav-link{
    font-size: 20px !important;
    color: white;
}

.backButton{
    height: 40px !important;
    width: 90px !important;
    background-color: #2A75E5 !important;
}

#navBar.scrolled{
    background-color: #282897;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-expanded {
    background-color: rgba(0, 0, 0, 0.8);
    
}



/* Slide Show Settings */

.slideShowContainer {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.slides {
    position: relative;
    z-index: -1;
}

.slide {
    object-fit: cover;
    vertical-align: middle;
    position: relative;
    z-index: -1;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 3vw;
    margin-top: 1vw;
    color: white;
    font-weight: bold;
    font-size: 3vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0,0,0, 0.3); 
}

.textField {
    text-align: center;
    position: absolute;
    top: 40%;
    color: white;
    position: absolute;

}

.textLocation{
    font-family: "Lato", sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    font-style:italic
}
.textPlace {
    font-family: "Abril Fatface", serif;
    font-size: 5vw;
    font-weight: 400;
    font-style: normal;
}

/* Card Settings */

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    height: 850px;
   
    border-radius: 30px;
}
.cardImg{
    border-radius: 30px;
}
.placeName{
    padding-top:10px;
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.placeLocation{
    font-family: "Lato",sans-serif;
    font-style: italic;
    font-size: 14px;
}
.placeDetails{
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
}
/* About Settings */
.imgColumn{
    text-align: center;
    padding: 40px;
}
.aboutContainer{
    background-color: #135AAC;
}
.aboutTitle{ 
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color:white;
    text-align: left;
    padding-top: 20px;

}
.imgContainer{
    padding-top: 20px;
   
}

.textContainer{
    text-align: center;
}

.aboutText{
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:white
}

.aboutMap{ 
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: Center;
    padding-top: 20px;

}



@media (max-width: 550px){
    .logo{
        width: 100px;
    }
}


@media (max-width: 375px){
    .logo{
        width: 50px;
    }
    .nav-link{
        font-size: 15px !important;
    }

}